@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

* {
    margin: 0px;
}

body {
    /* background-image: url(./images/wallpaper.jpg); */
    background-color:silver;
}

p {
font-family: Georgia, 'Times New Roman', Times, serif;
}

img {
    width: 300px;
    height: 200px;

}

.bannercontainer{

    display:flex;

}
.bannerbox{
    width:100%;
    height:150px;
}

.banner{
    background-image:url(images/NorthernSoul\ logo.jpg) ;

  
    
}
.section { 
    color: crimson;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

#title {
    color: #000000;
    font-family: 'Lobster', cursive; 
    padding: 10px;
    text-align: center;
}



.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 10px;
    background-color: grey;
}

  




